[all:vars]
ansible_user=ubuntu
ansible_python_interpreter=/usr/bin/python3
authorized_key="{{ lookup('file', '~/.ssh/id_rsa.pub') | trim }}"
subnet_cidr=192.168.144.0/24
ubuntu_codenames=["focal"]

[hosts]
u1a1 ansible_host=10.80.2.10

[u1a1_machines]
n1 ansible_port=2202 ansible_host="{{ subnet_cidr | ipaddr('2') | ipaddr('address') }}"
h1 ansible_port=2204 ansible_host="{{ subnet_cidr | ipaddr('4') | ipaddr('address') }}"
h2 ansible_port=2208 ansible_host="{{ subnet_cidr | ipaddr('8') | ipaddr('address') }}"
